html
    head
        title= "CSBet - 401!"
    body
        h1= "401"
        p= "You are not authorised to access this page. If this was made in error, please contact an admin of CSBet."
        br
        a(href="/") Back to CSBet