html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script.
			var mArray = #{mArray};
			var array = #{array};
	body
		div(class="py-4")
			div(class="container")
				div(class="row")
					div(class="col-md-12")
						h1 CSBet Admin Panel v01
				div(class="row")
					div(class="col-md-12")
						p Welcome, #{user}!
		br
		h3= "Matches"
		div(class="py-0")
			div(class="container")
				div(class="row")
					div(class="col-md-12")
						form(method="POST" action="/newmatch")
							div(class="form-group")
								label(for="team1") Team 1
								br
								input(type="text" class="form-control" name="team1" placeholder="Enter team")
							div(class="form-group")
								label(for="team2") Team 2
								br
								input(type="text" class="form-control" name="team2" placeholder="Enter team")
							div(class="form-group")
								label(for="maxbet") Maximum Bet
								br
								input(type="number" class="form-control" placeholder="$" name="maxbet")
							div(class="form-group")
								label(for="odds1") Odds (Team 1)
								br
								input(type="float" class="form-control" placeholder="Odds (1.x)" name="odds1")
							div(class="form-group")
								label(for="odds2") Odds (Team 2)
								br
								input(type="float" class="form-control" placeholder="Odds (1.x)" name="odds2")
							button(type="submit" class="btn btn-primary") Create
		br
		h5 Current matches:
		- var n = 0;
		ul
		while n!=null
			if mArray[n]
				li
					a(href="/bet?id="+mArray[n].id) #{mArray[n].name} |
					a(type="button" href="/deleteMatch?id="+mArray[n].id)  Delete

				- n++
			else
				- n=null
		br
		hr
		h3= "News"
		div(class="py-0")
			div.container
				div.row
					div.col-md-12
						form(method="POST" action="/newpost")
							div.form-group
								label(for="title") Title
								br
								input(type="text" class="form-control" name="title" placeholder="Title")
							div.form-group
								label(for="body") Body
								br
								input(type="text" class="form-control" name="body" placeholder="Body")
							div.form-group
								label(for="author") Author
								br
								input(type="text" class="form-control" name="author" placeholder="Author")
							button(type="submit" class="btn btn-primary") Post
		br
		h5 Current posts:
		- n=0
		while n!=null
			if array[n]
				h3
					a(href="/news?id="+array[n].id) #{array[n].title}
				p #{array[n].description}
				a(type="button" href="/deletePost?id="+array[n].id) Delete
				br
				br
				- n++
			else
				- n=null

	script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENznmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")