html
    head
        title= "CSBet - Bet"
        script.
            var matchID = #{matchID}
            var team1 = #{team1}
            var team2 = #{team2}
            var admin = #{admin}
    body
        h2= "Page Served: Bet"
        hr
        h4= "ID Served: 202"
        hr
        h3 #{team1} VS #{team2}
        p #{odds1} to #{odds2}
        p (Maximum bet $#{maxbet}.)
        hr
        h4= "Bet with Inventory"
        h5= "Show inventory here (later)."
        a(class='button' href='/watch?id='+matchID) Watch
        br
        hr
        h4= "Bet with Coins"
        form(method="POST", action="/betMatch?id="+matchID)
            label(for="amount") Amount:
            input(type="float" name="amount")
            select(name="team")
                option(value="1") #{team1}
                option(value="2") #{team2}
            button(type="submit") Bet
        hr
        if admin==true
            h5= "Close Match:"
            a(type="button" href="/closeMatch?id="+matchID+"&winner=1") #{team1} Wins
            br
            a(type="button" href="/closeMatch?id="+matchID+"&winner=2") #{team2} Wins
