html
    head
        title= "CSBet - Home"
        script.
            var logUrl = #{logUrl}
            var mArray = #{mArray}
    body
        h2= "Page Served: Index"
        hr
        h4= "ID Served: 203"
        a(href=logUrl class="button") #{logText}
        hr
        h3 #{user}
        p= "Welcome to CSBET. Here are the current matches:"
        ul
            - var n = 0;
            while n<10
                if mArray[n]
                    li
                        a(href="/bet?id="+mArray[n].id) #{mArray[n].name}
                - n++
        hr
        h4 Quick Links
        a(href="/settings") Settings |
        a(href="/withdraw")  Withdraw |
        a(href="/news")  News |
        a(href="/support") Support