html   
    head
        title= "CSBet - News"
        script.
            var array = #{array}
    body
        h1= "News"
        hr
        - n=0
        while n!=null
            if array[n]
                h3
                    a(href="/news?id="+array[n].id) #{array[n].title}
                p #{array[n].description}
                hr
                - n++
            else
                - n=null
