html
    head
        title= "CSBet - Settings"
    body
        h1 Settings
        hr
        p Hello, #{name}!
        p= "Enter your trade offer URL below so that we can send you withdraw trades."
        br
        form(method="POST" action="/tradeUrlSet")
            label(for="url") Trade URL: 
            input(name="url" type="text")
            button(type="submit") Submit