html
    head
        title CSBet - #{name}
        script.
            var chat = #{chat}
            var id = #{id}
    body
        h1 Support
        hr
        h3 #{name}
        p #{description}
        hr
        h4 Discussion:
        if chat!=null
            each val, i in chat
                p
                    i #{val.name}: 
                    | #{val.message}
        else
            p No messages.
        br
        form(method="POST" action="/ticketChat?id="+id)
            label(for="message") Message:
            br
            input(name="message" type="text" placeholder="...")
            br
            button(type="submit") Submit