html
    head
        title= "CSBet - Support"
        script.
            tickets = #{tickets};
    body
    h1 Support
    hr
    p Welcome, #{name}.
    hr
    h4 My Tickets
    if (tickets!=false)
        ul
            each val, i in tickets
                li
                    a(href="/support?id="+val.id) #{val.name} - ##{val.id}
    else
        p No created tickets.
    br
    h4 Create a Ticket
    form(method="POST" action="/newTicket")
        label(for="name") Title
        br
        input(name="name" placeholder="Ticket name")
        br
        label(for="description") Description
        br
        input(name="description" placeholder="Describe your issue")
        br
        button(type="submit") Submit