html
    head
        title= "CSBet - Watch"
        script.
            var matchID = #{matchID}
    body
        h2= "Page Served: Watch"
        hr
        h4= "ID Served: 200"
        hr
        h3 #{team1} VS #{team2}
        p #{odds1} to #{odds2}
        p (Maximum bet $#{maxbet}.)
        h3 Space for Twitch player here!
        a(class='button' href=matchID) Bet