html
	head

	body
		h2 Withdraw
		hr
		p Your current balance is: #{balance} coins.
		br
		form(method="POST" action="/userWithdraw")
			label(for="amount") Amount:
			br
			input(name="amount" placeholder="# of Coins" type="float")
			button(type="submit") Withdraw
		br
		br
		br
		br
		hr
		p (c) CSBet, 2018-2018. All rights reserved.s
